testdata
data

*.midi
*.MID
*.pickle
*__pycache__
*.idea

bin/
dataset/
result/
model/
logs/
.dfc/
debug.ipynb
exp_config/
deprecated/
debug/
advanced/
serving/
config/train_dpc.yml
config/train_ddp.yml
config/train_pretrain.yml
config/large_dpc.yml
